section{
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: center
    
}
.star{
    color: chocolate;
}
.card-text{
    text-decoration: line-through; 
    color: red;

}
.off{
    color: green;
}

